.env
__pycache__/
*.pyc
logs/
data/
!/tests/snapshot/data/
/tests/snapshot/data/*
!/tests/snapshot/data/NG_15m/
/tests/snapshot/data/NG_15m/*
!/tests/snapshot/data/NG_15m/candles.csv
!/tests/snapshot/data/NG_15m/*_expected_plans.csv
!/tests/snapshot/data/NG_15m/lifecycle_metadata.json
!/tests/snapshot/data/NG_15m/lifecycle_expected.json
!/tests/snapshot/data/GMKN_15m/
/tests/snapshot/data/GMKN_15m/*
!/tests/snapshot/data/GMKN_15m/candles.csv
!/tests/snapshot/data/GMKN_15m/candles_metadata.json
!/tests/snapshot/data/VTBR_15m/
/tests/snapshot/data/VTBR_15m/*
!/tests/snapshot/data/VTBR_15m/candles.csv
!/tests/snapshot/data/VTBR_15m/candles_metadata.json
!/tests/snapshot/data/TATN_15m/
/tests/snapshot/data/TATN_15m/*
!/tests/snapshot/data/TATN_15m/candles.csv
!/tests/snapshot/data/TATN_15m/candles_metadata.json
!/tests/snapshot/data/PLZL_15m/
/tests/snapshot/data/PLZL_15m/*
!/tests/snapshot/data/PLZL_15m/candles.csv
!/tests/snapshot/data/PLZL_15m/candles_metadata.json
!/tests/snapshot/data/LIFECYCLE_1m/
HIST/
.idea/
.vscode/
build/
dist/
.DS_Store
.venv/
.pytest_cache/
.ruff_cache/
robot.toml
bot_debug.log
